.nav {
  gap: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.primaryNav {
  display: flex;
  gap: 1rem;
  align-items: center;

  a:hover {
    text-decoration: underline;
  }
}
